@page "/"
@rendermode InteractiveServer
<h1>EcoMonitor 🌱</h1>

<EcoStatus Titulo="Reciclagem de Plástico" Peso="1" />
<EcoStatus Titulo="Plantio de Árvores" Peso="10" />
<EcoStatus Titulo="Descarte de Eletrônicos" Peso="5" />